In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"
sns.set_theme(style="whitegrid", palette='deep', context='notebook', font_scale=1.3)

## Переменная $nu$

In [2]:
int_row = pd.read_csv('c:/Users/gandh/dev/unv/smoed/me/data/interval.csv')
N = int_row['af'].sum()
h = 37
N

104

In [3]:
xv = (np.dot(int_row['avg_inter'], int_row['af'])/N).round(2)
dv = (np.dot((int_row['avg_inter']-xv)**2, int_row['af'])/N)
s = np.sqrt(dv*(N/(N-1))).round(2)
s

53.79

In [4]:
k = len(int_row)-1
gamma = 0.95
tg = 1.984
k

6

In [5]:
di_a = np.round((xv-tg*s/np.sqrt(N), xv+tg*s/np.sqrt(N)), 2)
xv
di_a

453.71

array([443.25, 464.17])

In [6]:
q = 0.141
di_s = (s*(1-q), s*(1+q))
s
di_s

53.79

(46.20561, 61.37439)

In [7]:
alpha = 0.05

In [8]:
df = int_row.copy().drop(['avg_inter', 'inter', 'rf'], axis=1)
df['xi'] = int_row['avg_inter']-h/2
df['xi+1'] = int_row['avg_inter']+h/2
df = df[['xi', 'xi+1', 'af']]
df = df.rename(columns={'af': 'ni'})
df.iloc[6, 0], df.iloc[6, 1] = 542, 576
df['zi'] = np.round((df['xi']-xv)/s, 2)
df['zi+1'] = np.round((df['xi+1']-xv)/s, 2)
df.loc[0, 'zi'], df.loc[6, 'zi+1'] = -np.inf, np.inf

In [9]:
df['F(zi)'] = np.array([-5000,-4641,-3665,-1628,1064,3289,4495])/10000
df['F(zi+1)'] = np.array([-4641,-3665,-1628,1064,3289,4495,5000])/10000
df['pi'] = np.round(df['F(zi+1)'] - df['F(zi)'], 4)
df['ni*'] = np.round(df['pi']*N, 4)
df.to_csv('data/data1.csv', index=False)
df

      xi   xi+1  ni    zi  zi+1   F(zi)  F(zi+1)      pi      ni*
0  320.0  357.0   5  -inf -1.80 -0.5000  -0.4641  0.0359   3.7336
1  357.0  394.0   8 -1.80 -1.11 -0.4641  -0.3665  0.0976  10.1504
2  394.0  431.0  23 -1.11 -0.42 -0.3665  -0.1628  0.2037  21.1848
3  431.0  468.0  25 -0.42  0.27 -0.1628   0.1064  0.2692  27.9968
4  468.0  505.0  24  0.27  0.95  0.1064   0.3289  0.2225  23.1400
5  505.0  542.0  15  0.95  1.64  0.3289   0.4495  0.1206  12.5424
6  542.0  576.0   4  1.64   inf  0.4495   0.5000  0.0505   5.2520

In [10]:
df_nabl = pd.DataFrame()
df_nabl['ni'], df_nabl['ni*'] = df['ni'], df['ni*']
df_nabl['-'] = np.round(df_nabl['ni']-df_nabl['ni*'], 4)
df_nabl['-2'] = np.round(df_nabl['-']**2, 4)
df_nabl['-2/'] = np.round(df_nabl['-2']/df_nabl['ni*'], 4)
df_nabl.to_csv('data/data2.csv', index=False)
hi_nabl = df_nabl['-2/'].sum().round(4)
df_nabl

   ni      ni*       -      -2     -2/
0   5   3.7336  1.2664  1.6038  0.4296
1   8  10.1504 -2.1504  4.6242  0.4556
2  23  21.1848  1.8152  3.2950  0.1555
3  25  27.9968 -2.9968  8.9808  0.3208
4  24  23.1400  0.8600  0.7396  0.0320
5  15  12.5424  2.4576  6.0398  0.4816
6   4   5.2520 -1.2520  1.5675  0.2985

In [11]:
k = len(df)-3
(k, alpha)
hi_crit = 9.5
(hi_nabl, hi_crit)
'True' if hi_nabl <= hi_crit else 'False'

(4, 0.05)

(2.1736, 9.5)

'True'

## Переменная $E$

In [12]:
int_row = pd.read_csv('c:/Users/gandh/dev/unv/smoed/me/data/interval2.csv')
N = int_row['af'].sum()
h = 16.1
N
int_row

104

            inter  avg_inter  af     rf
0    [64.5, 80.6)      72.55   2  0.019
1    [80.6, 96.7)      88.65   5  0.048
2   [96.7, 112.8)     104.75  15  0.144
3  [112.8, 128.9)     120.85  27  0.260
4  [128.9, 145.0)     136.95  27  0.260
5  [145.0, 161.1)     153.05  21  0.202
6  [161.1, 177.0)     169.05   7  0.067

In [13]:
xv = (np.dot(int_row['avg_inter'], int_row['af'])/N).round(2)
dv = (np.dot((int_row['avg_inter']-xv)**2, int_row['af'])/N)
s = np.sqrt(dv*(N/(N-1))).round(2)
xv
dv
s

129.98

481.82543846153806

22.06

In [14]:
k = len(int_row)-1
gamma = 0.95
tg = 1.984 
k

6

In [15]:
di_a = np.round((xv-tg*s/np.sqrt(N), xv+tg*s/np.sqrt(N)), 2)
xv
di_a

129.98

array([125.69, 134.27])

In [16]:
q = 0.141
di_s = (s*(1-q), s*(1+q))
s
di_s

22.06

(18.94954, 25.17046)

In [17]:
alpha = 0.05

In [18]:
int_row
h

            inter  avg_inter  af     rf
0    [64.5, 80.6)      72.55   2  0.019
1    [80.6, 96.7)      88.65   5  0.048
2   [96.7, 112.8)     104.75  15  0.144
3  [112.8, 128.9)     120.85  27  0.260
4  [128.9, 145.0)     136.95  27  0.260
5  [145.0, 161.1)     153.05  21  0.202
6  [161.1, 177.0)     169.05   7  0.067

16.1

In [19]:
df = int_row.copy().drop(['avg_inter', 'inter', 'rf'], axis=1)
df['xi'] = int_row['avg_inter']-h/2
df['xi+1'] = int_row['avg_inter']+h/2
df = df[['xi', 'xi+1', 'af']]
df = df.rename(columns={'af': 'ni'})
df.iloc[6, 0], df.iloc[6, 1] = 161.1, 177
df['zi'] = np.round((df['xi']-xv)/s, 2)
df['zi+1'] = np.round((df['xi+1']-xv)/s, 2)
df.loc[0, 'zi'], df.loc[6, 'zi+1'] = -np.inf, np.inf
df

      xi   xi+1  ni    zi  zi+1
0   64.5   80.6   2  -inf -2.24
1   80.6   96.7   5 -2.24 -1.51
2   96.7  112.8  15 -1.51 -0.78
3  112.8  128.9  27 -0.78 -0.05
4  128.9  145.0  27 -0.05  0.68
5  145.0  161.1  21  0.68  1.41
6  161.1  177.0   7  1.41   inf

In [20]:
df['F(zi)'] = np.array([-5000,-4875,-4345,-2823,-199,2517,4207])/10000
df['F(zi+1)'] = np.array([-4875,-4345,-2823,-199,2517,4207,5000])/10000
df['pi'] = np.round(df['F(zi+1)'] - df['F(zi)'], 4)
df['ni*'] = np.round(df['pi']*N, 4)
df.to_csv('data/data1_2.csv', index=False)
df

      xi   xi+1  ni    zi  zi+1   F(zi)  F(zi+1)      pi      ni*
0   64.5   80.6   2  -inf -2.24 -0.5000  -0.4875  0.0125   1.3000
1   80.6   96.7   5 -2.24 -1.51 -0.4875  -0.4345  0.0530   5.5120
2   96.7  112.8  15 -1.51 -0.78 -0.4345  -0.2823  0.1522  15.8288
3  112.8  128.9  27 -0.78 -0.05 -0.2823  -0.0199  0.2624  27.2896
4  128.9  145.0  27 -0.05  0.68 -0.0199   0.2517  0.2716  28.2464
5  145.0  161.1  21  0.68  1.41  0.2517   0.4207  0.1690  17.5760
6  161.1  177.0   7  1.41   inf  0.4207   0.5000  0.0793   8.2472

In [21]:
df_nabl = pd.DataFrame()
df_nabl['ni'], df_nabl['ni*'] = df['ni'], df['ni*']
df_nabl['-'] = np.round(df_nabl['ni']-df_nabl['ni*'], 4)
df_nabl['-2'] = np.round(df_nabl['-']**2, 4)
df_nabl['-2/'] = np.round(df_nabl['-2']/df_nabl['ni*'], 4)
df_nabl.to_csv('data/data2_2.csv', index=False)
hi_nabl = df_nabl['-2/'].sum().round(4)
df_nabl

   ni      ni*       -       -2     -2/
0   2   1.3000  0.7000   0.4900  0.3769
1   5   5.5120 -0.5120   0.2621  0.0476
2  15  15.8288 -0.8288   0.6869  0.0434
3  27  27.2896 -0.2896   0.0839  0.0031
4  27  28.2464 -1.2464   1.5535  0.0550
5  21  17.5760  3.4240  11.7238  0.6670
6   7   8.2472 -1.2472   1.5555  0.1886

In [22]:
k = len(df)-3
(k, alpha)
hi_crit = 9.5
(hi_nabl, hi_crit)
'True' if hi_nabl <= hi_crit else 'False'

(4, 0.05)

(1.3816, 9.5)

'True'