In [20]:
import numpy as np
import pandas as pd
import scipy
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

## Переменная $nu$

In [21]:
int_row = pd.read_csv('c:/Users/gandh/dev/unv/smoed/NB/data/interval.csv')
N = int_row['af'].sum()
h = 44
N
int_row

100

        inter  avg_inter  af    rf
0  [321, 365)        343   4  0.04
1  [365, 409)        387   9  0.09
2  [409, 453)        431  27  0.27
3  [453, 497)        475  35  0.35
4  [497, 541)        519  17  0.17
5  [541, 585)        563   6  0.06
6  [585, 623)        604   2  0.02

In [22]:
xv = (np.dot(int_row['avg_inter'], int_row['af'])/N).round(3)
dv = (np.dot((int_row['avg_inter']-xv)**2, int_row['af'])/N).round(3)
s = np.sqrt(dv*(N/(N-1))).round(3)
xv, dv, (dv*(N/(N-1))).round(3), s

(465.26, 2948.352, 2978.133, 54.572)

In [23]:
gamma = 0.99
tg = 2.627

In [24]:
di_a = np.round((xv-tg*s/np.sqrt(N), xv+tg*s/np.sqrt(N)), 2)
xv
di_a

465.26

array([450.92, 479.6 ])

In [25]:
q = 0.198
di_s = np.round((s*(1-q), s*(1+q)), 3)
s
di_s

54.572

array([43.767, 65.377])

In [26]:
df = int_row.copy().drop(['avg_inter', 'inter', 'rf'], axis=1)
df['xi'] = int_row['avg_inter']-h/2
df['xi+1'] = int_row['avg_inter']+h/2
df = df[['xi', 'xi+1', 'af']]
df = df.rename(columns={'af': 'ni'})
df.iloc[6, 0], df.iloc[6, 1] = 585, 623
df['zi'] = np.round((df['xi']-xv)/s, 2)
df['zi+1'] = np.round((df['xi+1']-xv)/s, 2)
df.loc[0, 'zi'], df.loc[6, 'zi+1'] = -np.inf, np.inf

In [27]:
df['F(zi)'] = np.array([-5000,-4671,-3485,-871,2190,4177,4858])/10000
df['F(zi+1)'] = np.array([-4671,-3485,-871,2190,4177,4858,5000])/10000
df['pi'] = np.round(df['F(zi+1)'] - df['F(zi)'], 4)
df['ni*'] = np.round(df['pi']*N, 4)
df.to_csv('data/data1.csv', index=False)
df

      xi   xi+1  ni    zi  zi+1   F(zi)  F(zi+1)      pi    ni*
0  321.0  365.0   4  -inf -1.84 -0.5000  -0.4671  0.0329   3.29
1  365.0  409.0   9 -1.84 -1.03 -0.4671  -0.3485  0.1186  11.86
2  409.0  453.0  27 -1.03 -0.22 -0.3485  -0.0871  0.2614  26.14
3  453.0  497.0  35 -0.22  0.58 -0.0871   0.2190  0.3061  30.61
4  497.0  541.0  17  0.58  1.39  0.2190   0.4177  0.1987  19.87
5  541.0  585.0   6  1.39  2.19  0.4177   0.4858  0.0681   6.81
6  585.0  623.0   2  2.19   inf  0.4858   0.5000  0.0142   1.42

In [28]:
df_nabl = pd.DataFrame()
df_nabl['ni'], df_nabl['ni*'] = df['ni'], df['ni*']
df_nabl['-'] = np.round(df_nabl['ni']-df_nabl['ni*'], 4)
df_nabl['-2'] = np.round(df_nabl['-']**2, 4)
df_nabl['-2/'] = np.round(df_nabl['-2']/df_nabl['ni*'], 4)
df_nabl.to_csv('data/data2.csv', index=False)
hi_nabl = df_nabl['-2/'].sum().round(4)
df_nabl

   ni    ni*     -       -2     -2/
0   4   3.29  0.71   0.5041  0.1532
1   9  11.86 -2.86   8.1796  0.6897
2  27  26.14  0.86   0.7396  0.0283
3  35  30.61  4.39  19.2721  0.6296
4  17  19.87 -2.87   8.2369  0.4145
5   6   6.81 -0.81   0.6561  0.0963
6   2   1.42  0.58   0.3364  0.2369

In [29]:
alpha = 0.05
k = len(df)-3
(k, alpha)
hi_crit = 9.5
(hi_nabl, hi_crit)
'True' if hi_nabl <= hi_crit else 'False'

(4, 0.05)

(2.2485, 9.5)

'True'

## Переменная $E$

In [30]:
int_row = pd.read_csv('c:/Users/gandh/dev/unv/smoed/NB/data/interval2.csv')
N = int_row['af'].sum()
h = 16
N
int_row

100

            inter  avg_inter  af    rf
0   [84.9, 100.9)       92.9   6  0.06
1  [100.9, 116.9)      108.9  14  0.14
2  [116.9, 132.9)      124.9  32  0.32
3  [132.9, 148.9)      140.9  33  0.33
4  [148.9, 164.9)      156.9   9  0.09
5  [164.9, 180.9)      172.9   4  0.04
6  [180.9, 195.7)      188.3   2  0.02

In [31]:
xv = (np.dot(int_row['avg_inter'], int_row['af'])/N).round(3)
dv = (np.dot((int_row['avg_inter']-xv)**2, int_row['af'])/N).round(3)
s = np.sqrt(dv*(N/(N-1))).round(3)
xv, dv, (dv*(N/(N-1))).round(3), s

(132.088, 394.804, 398.792, 19.97)

In [32]:
gamma = 0.99
tg = 2.627

In [33]:
di_a = np.round((xv-tg*s/np.sqrt(N), xv+tg*s/np.sqrt(N)), 2)
xv
di_a

132.088

array([126.84, 137.33])

In [34]:
q = 0.198
di_s = np.round((s*(1-q), s*(1+q)), 3)
s
di_s

19.97

array([16.016, 23.924])

In [35]:
int_row

            inter  avg_inter  af    rf
0   [84.9, 100.9)       92.9   6  0.06
1  [100.9, 116.9)      108.9  14  0.14
2  [116.9, 132.9)      124.9  32  0.32
3  [132.9, 148.9)      140.9  33  0.33
4  [148.9, 164.9)      156.9   9  0.09
5  [164.9, 180.9)      172.9   4  0.04
6  [180.9, 195.7)      188.3   2  0.02

In [38]:
df = int_row.copy().drop(['avg_inter', 'inter', 'rf'], axis=1)
df['xi'] = int_row['avg_inter']-h/2
df['xi+1'] = int_row['avg_inter']+h/2
df = df[['xi', 'xi+1', 'af']]
df = df.rename(columns={'af': 'ni'})
df.iloc[6, 0], df.iloc[6, 1] = 180.9, 195.7
df['zi'] = np.round((df['xi']-xv)/s, 2)
df['zi+1'] = np.round((df['xi+1']-xv)/s, 2)
df.loc[0, 'zi'], df.loc[6, 'zi+1'] = -np.inf, np.inf
df

      xi   xi+1  ni    zi  zi+1
0   84.9  100.9   6  -inf -1.56
1  100.9  116.9  14 -1.56 -0.76
2  116.9  132.9  32 -0.76  0.04
3  132.9  148.9  33  0.04  0.84
4  148.9  164.9   9  0.84  1.64
5  164.9  180.9   4  1.64  2.44
6  180.9  195.7   2  2.44   inf

In [39]:
df['F(zi)'] = np.array([-5000,-4406,-2764,160,2995,4495,4927])/10000
df['F(zi+1)'] = np.array([-4406,-2764,160,2995,4495,4927,5000])/10000
df['pi'] = np.round(df['F(zi+1)'] - df['F(zi)'], 4)
df['ni*'] = np.round(df['pi']*N, 4)
df.to_csv('data/data1_2.csv', index=False)
df

      xi   xi+1  ni    zi  zi+1   F(zi)  F(zi+1)      pi    ni*
0   84.9  100.9   6  -inf -1.56 -0.5000  -0.4406  0.0594   5.94
1  100.9  116.9  14 -1.56 -0.76 -0.4406  -0.2764  0.1642  16.42
2  116.9  132.9  32 -0.76  0.04 -0.2764   0.0160  0.2924  29.24
3  132.9  148.9  33  0.04  0.84  0.0160   0.2995  0.2835  28.35
4  148.9  164.9   9  0.84  1.64  0.2995   0.4495  0.1500  15.00
5  164.9  180.9   4  1.64  2.44  0.4495   0.4927  0.0432   4.32
6  180.9  195.7   2  2.44   inf  0.4927   0.5000  0.0073   0.73

In [41]:
df_nabl = pd.DataFrame()
df_nabl['ni'], df_nabl['ni*'] = df['ni'], df['ni*']
df_nabl['-'] = np.round(df_nabl['ni']-df_nabl['ni*'], 4)
df_nabl['-2'] = np.round(df_nabl['-']**2, 4)
df_nabl['-2/'] = np.round(df_nabl['-2']/df_nabl['ni*'], 4)
df_nabl.to_csv('data/data2_2.csv', index=False)
hi_nabl = df_nabl['-2/'].sum().round(4)
df_nabl

   ni    ni*     -       -2     -2/
0   6   5.94  0.06   0.0036  0.0006
1  14  16.42 -2.42   5.8564  0.3567
2  32  29.24  2.76   7.6176  0.2605
3  33  28.35  4.65  21.6225  0.7627
4   9  15.00 -6.00  36.0000  2.4000
5   4   4.32 -0.32   0.1024  0.0237
6   2   0.73  1.27   1.6129  2.2095

In [43]:
alpha = 0.05
k = len(df)-3
(k, alpha)
hi_crit = 9.5
(hi_nabl, hi_crit)
'True' if hi_nabl <= hi_crit else 'False'

(4, 0.05)

(6.0137, 9.5)

'True'