In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('c:/Users/gandh/dev/unv/smoed/me/data/main_data.csv')
int_rowX = pd.read_csv('c:/Users/gandh/dev/unv/smoed/me/data/interval.csv')
int_rowX['u'] = np.arange(-3,4,1)
int_rowY = pd.read_csv('c:/Users/gandh/dev/unv/smoed/me/data/interval2.csv')
int_rowY['u'] = np.arange(-3,4,1)
X = df['nu']
Y = df['E']

In [3]:
h1, h2 = 37, 16.1
ivs_X = np.hstack((np.arange(min(X), max(X), h1), np.array(max(X))))
ivs_Y = np.hstack((np.arange(min(Y), max(Y), h2), np.array(max(Y))))

## Двумерный интервальный ряд

In [4]:
df_int = df.copy()
df_int['intX'] = pd.cut(df_int['nu'], bins=ivs_X, right=False)
df_int['intXl'] = pd.cut(df_int['nu'], bins=ivs_X, 
                        labels=[1,2,3,4,5,6,7], right=False)
df_int['intY'] = pd.cut(df_int['E'], bins=ivs_Y, right=False)
df_int['intYl'] = pd.cut(df_int['E'], bins=ivs_Y, 
                        labels=[1,2,3,4,5,6,7], right=False)

In [5]:
df_int.iloc[64, 4] = df_int.iloc[63, 4]
df_int.iloc[64, 5] = df_int.iloc[63, 5]
df_int.iloc[97, 2] = df_int.iloc[99, 2]
df_int.iloc[97, 3] = df_int.iloc[99, 3]
# df_int['intXl'].value_counts().sort_index()
# df_int['intYl'].value_counts().sort_index()
# df_int.sort_values(by=['nu'], ignore_index = True).head()
df_int.value_counts(['intYl', 'intXl']).sort_index()

intYl  intXl
1      1         1
       2         1
2      1         3
       2         2
3      1         1
       2         5
       3         8
       4         1
4      3        14
       4        11
       5         2
5      3         1
       4        12
       5        12
       6         2
6      4         1
       5        10
       6         8
       7         2
7      6         5
       7         2
dtype: int64

## Корреляционная таблица

In [6]:
df_kor = pd.DataFrame(columns=['yi','x1','x2','x3','x4','x5','x6','x7','Xi','yX'])
df_kor['yi'] = [np.NaN,-3,-2,-1,0,1,2,3,np.NaN,np.NaN]
df_kor['x1'] = [-3,1,3,1,0,0,0,0,np.NaN,np.NaN]
df_kor['x2'] = [-2,1,2,5,0,0,0,0,np.NaN,np.NaN]
df_kor['x3'] = [-1,0,0,8,14,1,0,0,np.NaN,np.NaN]
df_kor['x4'] = [0,0,0,1,11,12,1,0,0,np.NaN]
df_kor['x5'] = [1,0,0,0,2,12,10,0,np.NaN,np.NaN]
df_kor['x6'] = [2,0,0,0,0,2,8,5,np.NaN,np.NaN]
df_kor['x7'] = [3,0,0,0,0,0,2,2,np.NaN,np.NaN]

df_curr1 = pd.DataFrame()
df_curr2 = pd.DataFrame()
for i in range(7):
    df_curr1[i] = df_kor.iloc[0,1:8]*df_kor.iloc[i+1,1:8]
    df_kor.loc[i+1,'Xi'] = np.dot(df_kor.iloc[0,1:8],df_kor.iloc[i+1,1:8])
    df_curr2[i] = df_kor.iloc[1:8,0]*df_kor.iloc[1:8,i+1]
    df_kor.iloc[8,i+1] = np.dot(df_kor.iloc[1:8,0],df_kor.iloc[1:8,i+1])

df_kor['yX'] = df_kor['yi']*df_kor['Xi']
df_kor.iloc[9,:] = df_kor.iloc[0,:]*df_kor.iloc[8,:]
df_kor.loc[8,'yX'] = df_kor['yX'].sum()
df_kor.loc[9,'Xi'] = df_kor.iloc[9,:].sum()

df_curr1.transpose() # желт
df_curr2 # зелен
df_kor

    x1    x2    x3   x4    x5    x6   x7
0 -3.0  -2.0  -0.0  0.0   0.0   0.0  0.0
1 -9.0  -4.0  -0.0  0.0   0.0   0.0  0.0
2 -3.0 -10.0  -8.0  0.0   0.0   0.0  0.0
3 -0.0  -0.0 -14.0  0.0   2.0   0.0  0.0
4 -0.0  -0.0  -1.0  0.0  12.0   4.0  0.0
5 -0.0  -0.0  -0.0  0.0  10.0  16.0  6.0
6 -0.0  -0.0  -0.0  0.0   0.0  10.0  6.0

     0    1    2     3     4     5    6
1 -3.0 -3.0 -0.0  -0.0  -0.0  -0.0 -0.0
2 -6.0 -4.0 -0.0  -0.0  -0.0  -0.0 -0.0
3 -1.0 -5.0 -8.0  -1.0  -0.0  -0.0 -0.0
4  0.0  0.0  0.0   0.0   0.0   0.0  0.0
5  0.0  0.0  1.0  12.0  12.0   2.0  0.0
6  0.0  0.0  0.0   2.0  20.0  16.0  4.0
7  0.0  0.0  0.0   0.0   0.0  15.0  6.0

    yi    x1    x2    x3    x4    x5    x6    x7     Xi     yX
0  NaN  -3.0  -2.0  -1.0   0.0   1.0   2.0   3.0    NaN    NaN
1 -3.0   1.0   1.0   0.0   0.0   0.0   0.0   0.0   -5.0   15.0
2 -2.0   3.0   2.0   0.0   0.0   0.0   0.0   0.0  -13.0   26.0
3 -1.0   1.0   5.0   8.0   1.0   0.0   0.0   0.0  -21.0   21.0
4  0.0   0.0   0.0  14.0  11.0   2.0   0.0   0.0  -12.0   -0.0
5  1.0   0.0   0.0   1.0  12.0  12.0   2.0   0.0   15.0   15.0
6  2.0   0.0   0.0   0.0   1.0  10.0   8.0   2.0   32.0   64.0
7  3.0   0.0   0.0   0.0   0.0   0.0   5.0   2.0   16.0   48.0
8  NaN -10.0 -12.0  -7.0  13.0  32.0  33.0  10.0    NaN  189.0
9  NaN  30.0  24.0   7.0   0.0  32.0  66.0  30.0  189.0    NaN

In [7]:
N = 104
xv = np.dot(int_rowX['af'],int_rowX['u'])/N
xv2 = np.dot(int_rowX['af'],pow(int_rowX['u'],2))/N
sx = np.sqrt(xv2-xv**2)
yv = np.dot(int_rowY['af'],int_rowY['u'])/N
yv2 = np.dot(int_rowY['af'],pow(int_rowY['u'],2))/N
sy = np.sqrt(yv2-yv**2)
r_usl = ((df_kor.loc[8,'yX']-N*xv*yv)/(N*sx*sy)).round(4)
xv
yv
sx
sy
r_usl

0.11538461538461539

0.5673076923076923

1.4498520634592895

1.3641313316322692

0.8858

In [8]:
N = 104
xv = 453.71
sx = 53.79
yv = 129.98
sy = 22.06

In [9]:
df_kor = pd.DataFrame(columns=['yi','x1','x2','x3','x4','x5','x6','x7','Xi','yX'])
df_kor['yi'] = [np.NaN,72.55,88.65,104.75,120.85,136.95,153.05,169.05,np.NaN,np.NaN]
df_kor['x1'] = [338.5,1,3,1,0,0,0,0,np.NaN,np.NaN]
df_kor['x2'] = [375.5,1,2,5,0,0,0,0,np.NaN,np.NaN]
df_kor['x3'] = [412.5,0,0,8,14,1,0,0,np.NaN,np.NaN]
df_kor['x4'] = [449.5,0,0,1,11,12,1,0,np.NaN,np.NaN]
df_kor['x5'] = [486.5,0,0,0,2,12,10,0,np.NaN,np.NaN]
df_kor['x6'] = [523.5,0,0,0,0,2,8,5,np.NaN,np.NaN]
df_kor['x7'] = [559,0,0,0,0,0,2,2,np.NaN,np.NaN]

df_kor.to_csv('c:/Users/gandh/dev/unv/smoed/me/data/kor.csv', index=False)

df_curr1 = pd.DataFrame()
df_curr2 = pd.DataFrame()
for i in range(7):
    df_curr1[i] = df_kor.iloc[0,1:8]*df_kor.iloc[i+1,1:8]
    df_kor.loc[i+1,'Xi'] = np.dot(df_kor.iloc[0,1:8],df_kor.iloc[i+1,1:8])
    df_curr2[i] = df_kor.iloc[1:8,0]*df_kor.iloc[1:8,i+1]
    df_kor.iloc[8,i+1] = np.dot(df_kor.iloc[1:8,0],df_kor.iloc[1:8,i+1])

df_kor['yX'] = df_kor['yi']*df_kor['Xi']
df_kor.iloc[9,:] = df_kor.iloc[0,:]*df_kor.iloc[8,:]
df_kor.loc[8,'yX'] = df_kor['yX'].sum()
df_kor.loc[9,'Xi'] = df_kor.iloc[9,:].sum()

df_curr1.transpose() # желт
df_curr2 # зелен
df_kor

       x1      x2      x3      x4      x5      x6      x7
0   338.5   375.5     0.0     0.0     0.0     0.0     0.0
1  1015.5   751.0     0.0     0.0     0.0     0.0     0.0
2   338.5  1877.5  3300.0   449.5     0.0     0.0     0.0
3     0.0     0.0  5775.0  4944.5   973.0     0.0     0.0
4     0.0     0.0   412.5  5394.0  5838.0  1047.0     0.0
5     0.0     0.0     0.0   449.5  4865.0  4188.0  1118.0
6     0.0     0.0     0.0     0.0     0.0  2617.5  1118.0

        0       1        2        3       4        5      6
1   72.55   72.55     0.00     0.00     0.0     0.00    0.0
2  265.95  177.30     0.00     0.00     0.0     0.00    0.0
3  104.75  523.75   838.00   104.75     0.0     0.00    0.0
4    0.00    0.00  1691.90  1329.35   241.7     0.00    0.0
5    0.00    0.00   136.95  1643.40  1643.4   273.90    0.0
6    0.00    0.00     0.00   153.05  1530.5  1224.40  306.1
7    0.00    0.00     0.00     0.00     0.0   845.25  338.1

,yi,x1,x2,x3,x4,x5,x6,x7,Xi,yX
0,NaN,338.500,375.5,412.500,449.500,486.5,523.500,559.0,NaN,NaN
1,72.55,1.000,1.0,0.000,0.000,0.0,0.000,0.0,714.0,51800.7
2,88.65,3.000,2.0,0.000,0.000,0.0,0.000,0.0,1766.5,156600.225
3,104.75,1.000,5.0,8.000,1.000,0.0,0.000,0.0,5965.5,624886.125
4,120.85,0.000,0.0,14.000,11.000,2.0,0.000,0.0,11692.5,1413038.625
5,136.95,0.000,0.0,1.000,12.000,12.0,2.000,0.0,12691.5,1738100.925
6,153.05,0.000,0.0,0.000,1.000,10.0,8.000,2.0,10620.5,1625467.525
7,169.05,0.000,0.0,0.000,0.000,0.0,5.000,2.0,3735.5,631486.275
8,NaN,443.250,773.6,2666.850,3230.550,3415.6,2343.550,644.2,NaN,6241380.4
9,NaN,150040.125,290486.8,1100075.625,1452132.225,1661689.4,1226848.425,360107.8,6241380.4,NaN

### Коэффициент корреляции

In [10]:
r = ((df_kor.loc[8,'yX']-N*xv*yv)/(N*sx*sy)).round(4)
r

0.8765

### Оценка кк

In [11]:
((r-3*((1-r**2)/np.sqrt(N))).round(4), (r+3*((1+r**2)/np.sqrt(N))).round(4))

(0.8083, 1.3967)

## Доверительный интервал для кк

In [12]:
z = (0.5*np.log((1+r)/(1-r))).round(3)
z

1.36

In [13]:
sz = (1/np.sqrt(N-3)).round(4)
sz

0.0995

In [14]:
gamma = 0.95
F = gamma/2
l = 1.96
z1 = (z-l*sz).round(4)
z2 = (z+l*sz).round(4)
(z1,z2)

(1.165, 1.555)

In [15]:
r1 = ((np.exp(2*z1)-1)/(np.exp(2*z1)+1)).round(4)
r2 = ((np.exp(2*z2)-1)/(np.exp(2*z2)+1)).round(4)
(r1, r2)

(0.8227, 0.9146)

## Гипотеза о значимости выборочного коэффициента корреляции

In [16]:
K = 7
Tn = ((r*np.sqrt(N-2))/np.sqrt(1-r**2)).round(3)
tk = 1.985

In [17]:
'True' if np.abs(Tn) <= tk else 'False'

'False'